<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" style="color:rgb(172,152,54)" href="/">
    <img src="assets/blue_dsv_logo.png" id="logo"  alt="THE DOWNSTREAMVIEW LOGO">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-right blue">

      <li class="nav-item underline-hover" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">HOME</a></li>
      <li class="nav-item underline-hover" routerLinkActive="active"><a class="nav-link" routerLinkActive="active" routerLink="/about">ABOUT US</a></li>
      <li class="nav-item underline-hover" routerLinkActive="active"><a class="nav-link" routerLinkActive="active" routerLink="/blog">BLOG</a></li>
      <li class="nav-item underline-hover" routerLinkActive="active"><a class="nav-link" routerLinkActive="active" routerLink="/contact">CONTACT US</a></li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 transparent-bg" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>