<hr/>
<section id="banner" class="jumbotron" style="margin-top: 100px">
  <div class="section-bg-color  col-lg-12">
    <div class="centered-content">
      <div class="headText">
        <h2> WELCOME TO </h2>
        <h1 class="row"> <img src="assets/blue_dsv_logo.png" class="img-responsive col-lg-4 center-block" alt="downstreamview logo"></h1>
        <h3> Depot prices + events</h3>
        <br/>
        <!--<p class="red text-center">&#8680; <a href="#">Tour</a> &#8678;</p>-->
        <!--<p class="blue text-center">&#8680; <a href="#">Skip</a> &#8678;</p>-->
        <p class="text-center">..all about the downstream sector...</p>
        <h3>Depot prices || pump prices || Analysis and events.</h3>
      </div>

    </div>
  </div>
</section>
<div class="row clear-blue">
  <div class="col-lg-8">
    <h1>Diesel Prices</h1>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-6">
      <img src="assets/icons/002-gas-station-1.svg" class="img-responsive">
    </div>
  </div>

</div>
<div class="row clear-red">
  <div class="col-lg-4">
    <div class="col-lg-6">
      <img src="assets/icons/004-gasoline.svg" class="img-responsive">
    </div>
  </div>
  <div class="col-lg-8">
    <h1>Petrol Prices</h1>
  </div>
</div>
<div class="row clear-black">
  <div class="col-lg-8">
    <h1>Kerosine Prices</h1>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-6">
      <img src="assets/icons/007-burn.svg" class="img-responsive">
    </div>
  </div>
</div>
