<div ng-view="" class="row ng-scope" id="container">
  <section class="col-md-8 ng-scope" style="margin-top: 150px">

    <h3 class="text-center blue ng-binding">July Average Price </h3>
    <div class="table-wrapper">
      <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
        <tbody>
          <tr>
            <td>AGO</td>
            <td>N145,283</td>
          </tr>
          <tr>
            <td>DPK</td>
            <td>N234,203</td>
          </tr>
          <tr>
            <td>PMS</td>
            <td>N23,029</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="text-center blue">July Depot Activities</h3>
    <div class="table-wrapper">
      <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
        <tbody>
          <tr>
            <td>AGO</td>
            <td>29</td>
          </tr>
          <tr>
            <td>DPK</td>
            <td>155</td>
          </tr>
          <tr>
            <td>PMS</td>
            <td>196</td>
          </tr>
        </tbody>
      </table>
    </div>



    <h3 class="text-center blue">Lowest Price</h3>
    <div class="table-wrapper">
      <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
        <tbody>
          <tr>
            <td>AGO</td>
            <td>{{ crunchedData.depot.lowest.ago.long_name }}</td>
            <td>{{ crunchedData.depot.lowest.ago.price }}</td>
          </tr>
          <tr>
            <td>DPK</td>
            <td>{{ crunchedData.depot.lowest.dpk.long_name }}</td>
            <td>{{ crunchedData.depot.lowest.dpk.price }}</td>
          </tr>
          <tr>
            <td>PMS</td>
            <td>{{ crunchedData.depot.lowest.pms.long_name }}</td>
            <td>{{ crunchedData.depot.lowest.pms.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Lowest Depot Oil Prices</h2>

    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Petrol prices" (click)="switchDepotView('pms')">PMS</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr>
              <th class="logo"></th>
              <th class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
                <!-- ngIf: DPOOrder=='long_name' -->
              </th>
              <th class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
                <!-- ngIf: DPOOrder=='short_name' -->
              </th>
              <th class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
                <!-- ngIf: DPOOrder=DPO[selectedProduct.DPO][0] -->
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Diesel prices" (click)="switchDepotView('ago')">AGO</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr>
              <th class="logo"></th>
              <th class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
              </th>
              <th class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
              </th>
              <th class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>

      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Kerosine prices" (click)="switchDepotView('dpk')">DPK</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr ng-init="DPOOrder='sort_order'">
              <th class="logo"></th>
              <th ng-click="DPOOrder='long_name'" class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
              </th>
              <th ng-click="DPOOrder='short_name'" class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
              </th>
              <th ng-click="DPOOrder=DPO[selectedProduct.DPO][0]" class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
    </mat-tab-group>

    <h2>Highest Depot Oil Prices</h2>

    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Petrol prices" (click)="switchDepotView('pms')">PMS</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr>
              <th class="logo"></th>
              <th class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
                <!-- ngIf: DPOOrder=='long_name' -->
              </th>
              <th class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
                <!-- ngIf: DPOOrder=='short_name' -->
              </th>
              <th class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
                <!-- ngIf: DPOOrder=DPO[selectedProduct.DPO][0] -->
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Diesel prices" (click)="switchDepotView('ago')">AGO</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr>
              <th class="logo"></th>
              <th class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
              </th>
              <th class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
              </th>
              <th class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>

      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <div class="fill" matTooltip="Kerosine prices" (click)="switchDepotView('dpk')">DPK</div>
        </ng-template>
        <table class="table table-condensed text-center white-font data-table" style="margin-top: 30px;">
          <thead>
            <tr ng-init="DPOOrder='sort_order'">
              <th class="logo"></th>
              <th ng-click="DPOOrder='long_name'" class="fullname"><span><img src="assets/icons/011-factory-1.svg" class="icon-small" alt="factory"></span>Company
              </th>
              <th ng-click="DPOOrder='short_name'" class="short"><span><img src="assets/icons/002-folder.svg" class="icon-small" alt="folder"></span>Short
              </th>
              <th ng-click="DPOOrder=DPO[selectedProduct.DPO][0]" class="price"><span><img src="assets/icons/003-money-bag.svg" class="icon-small" alt="money bag"></span>Price
              </th>
              <th class="price_change"><span><img src="assets/icons/003-analytics-2.svg" class="icon-small" alt="analytics"></span>+/- </th>
              <th class="price_change_percent">+/- %</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of depotCompanies | async">
              <td class="logo"><img src="assets/icons/050-factory.svg" class="icon" alt="company logo" /></td>
              <td class="fullname">{{company.long_name}}</td>
              <td class="short">{{company.short_name}}</td>
              <td class="price">{{company.price | currency : '₦' }}</td>
              <td class="price_change">{{ company.change | number:2 | currency : ''}}</td>
              <td class="price_change_percent">{{ company.change/company.price*100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
    </mat-tab-group>

    <h2>Bar chart of lowest and highest depot prices</h2>
    <h2>Bar chart of depot Activities</h2>
  </section>
</div>
