<section class="container centered-content" style="padding-top: 150px">
  <form>
    <div class="form-group login rounded semi-transparent">
      <h3 class="underline">Admin Login</h3>
      <div class="">
        <div class="form-group">
          <span class="glyphicon glyphicon-user"></span>
          <input class="transparent-bg underline myinput text-center col-lg-6 center-block" (ngModel)="user.email" placeholder="email@domain.com"
          />
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-bookmark"></span>
          <input class="transparent-bg underline myinput text-center col-lg-6 center-block" (ngModel)="user.password" type="password"
          />
        </div>
        <div class="form-group">
          <button (click)="onSigninFacebook()" class="btn btn-primary">
            Login with facebook
            <i class=""></i>
          </button>
          <button (click)="onSigninGoogle()" class="btn btn-danger">
            Login with google
            <i class=""></i>
          </button>
          <button (click)="onSigninTwitter()" class="btn btn-secondary">
            Login with Twitter
            <i class=""></i>
          </button>
        </div>
      </div>
      <button class="btn btn-default" (click)="onSignin()">
        <span class="glyphicon glyphicon-user"></span> Login</button>

    </div>
  </form>
</section>
